<div id="map" style="width: 100%; height: 360px"></div>

<script src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places" type="text/javascript"></script>

<script type="text/javascript">

// ------
    var map;
    var arrMarkers = [];
    var arrInfoWindows = [];
    var defaultZoom = 17; // Why zoomed in? Because it looks good.
    var lat = <%= @location.lat %>;
    var lng = <%= @location.lng %>;

    function mapInit(){
        var centerCoord = new google.maps.LatLng(lat, lng);
        var mapOptions = {
            zoom: defaultZoom,
            center: centerCoord,
            mapTypeId: google.maps.MapTypeId.ROADMAP
            scrolwheel: false,
            scaleControl: false
        };
        map = new google.maps.Map(document.getElementById("map"), mapOptions);
         
        $.getJSON("/places.json", {}, function(json){
            $.each(json, function(i,item){
                $("#markers").append('<li><a href="#" rel="' + i + '">' + item.place.name + '</a></li>');
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(item.location.lat, item.location.lng),
                    map: map,
                    title: item.location.state
                });
                arrMarkers[i] = marker;
                var infowindow = new google.maps.InfoWindow({
                    content: "<h3>"+ item.location.state +"</h3><p>"+ item.location.address + "&nbsp;" +  item.location.location_name + ", &nbsp;" + "</p>",
                    maxWidth: 100  
                });
                arrInfoWindows[i] = infowindow;
                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.open(map, marker);
                });
            });
        });
             
    }
    $(function(){
        // initialize map (create markers, infowindows and list)
        mapInit();

// ------
<!--
  

  var mylat = document.getElementById("location_lat").value;
  var mylng = document.getElementById("location_lng").value;
  if (jQuery.isEmptyObject(mylat)) {
    var mylat = lat;
    var mylng = lng;
  };

  // set center point of map to be of the Marker or the Default City
  var centrePoint = new google.maps.LatLng(mylat, mylng);

  map.setCenter(centrePoint);
  map.setZoom(defaultZoom);

  // add a draggable marker
  marker = new google.maps.Marker({
    map:map,
    draggable: false,
    animation: google.maps.Animation.DROP,
    position: centrePoint
  });

  // Set marker image
  var defaultImage = new google.maps.MarkerImage(
      "http://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
      new google.maps.Size(71, 71),
      new google.maps.Point(0, 0),
      new google.maps.Point(17, 34),
      new google.maps.Size(35, 35)
  );
  marker.setIcon(defaultImage);

//-->
</script>

<br />